.market-product-header {
    text-align: center;
}

.product-link {
    color: rgba(21,71, 116, 0.8);
    font-size: 30px;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
}

.product-link:hover {
    color: rgba(0,255,0, 0.8);
}