.sell-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80%;
    text-align: center;
    padding: 6vw 0 15vw;
}
  
.sell-page-header {
    text-align: center;
    color: #ffffff;
    padding-bottom: 50px
}
  
.sell-page-paragraph {
    color: #ffffff;
    margin-bottom: 20px;
}
  
.sell-form-div {
    margin-bottom: 20px;
}
  
.sell-page-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.username-input,
.user-password-input {
    min-width: 300px;
    padding: 10px;
    margin-bottom: 10px;
}
  
.user-login-submit-button {
    margin-top: 0px;
}
  
.new-seller-paragraph {
    color: #ffffff;
    margin-bottom: 10px;
}
  
.user-signup-redirect {
    border: 2px solid #ffffff;
}

.user-signup-redirect:hover {
    background-color: #ffffff1d;
}