.market-price-header {
    text-align: center;
}

.price-link {
    color: rgba(21,71, 116, 0.8);
    font-size: 30px;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
}

.price-link:hover {
    color: rgba(0,255, 0, 0.8);
}