.navbar {
    background-color: rgba(53, 110, 143, 0.5);
    height: 100px;
}

.inner-navbar {
    padding-top: 60px;
}

.navbar-link {
    padding: 10px;
    font-size: 30px;
}

.navbar-link:hover {
    color: rgb(12, 121, 250);
}

.navbar-logo {
    width: 40px;
    height: 40px;
    float: right;
}

.navbar-line {
    color:rgba(12, 121, 250, 0.5)
}