.icons-section {
    padding: 8vw 0 0;
    margin: auto;
}
    
.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
}

.row {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
}

.icons-section, .row {
    width: 80%;
}

.icons-column {
    flex-basis: 30%; 
    margin-bottom: 30px;
    box-sizing: border-box;
    padding: 0 15px;
    text-align: center; 
}

.icons-column-image {
    display: block; 
    margin: 0 auto; 
    width: 100px;
    height: auto;
}

.icons-column-title {
    font-size: 22px;
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;
}
