.post-review-header {
    text-align: center;
}

.seller-name-input, .product-name-input, .seller-review-input {
    height: 30px;
    width: 200px;
    border-radius: 10px;
    margin-top: 10px;
}

.user-post-review-textarea {
    height: 400px;
    width: 700px;
    border-radius: 5px;
}

.post-review-button {
    border-radius: 5px;
    height: 25px;
    width: 100px;
    margin-left: 300px;
}

.post-review-button:hover {
    background-color: rgba(224, 5, 5, 0.8);
}

.upload-button {
    border-radius: 5px;
    height: 30px;
    float: right;
    margin-right: 495px;
    
}

.post-review-form {
    align-items: center;
    margin-left: 400px;
}

.character-count-span {
    color: rgba(255, 0, 0, 0.7);
    float: right;
    margin-right: 495px;
}
