.page-footer {
    padding: 15px;
    text-align: center;
    background-color: rgb(22, 22, 22);
}

.footer-small-print,
.footer-header,
.footer-paragraph {
    color: rgba(255, 255, 255, 0.8);
}

.footer-small-print, a
.footer-header, a
.footer-paragraph, a {
    color: rgb(242, 242, 109);
    text-decoration: none;
}

.footer-small-print, a:hover,
.footer-header, a:hover,
.footer-paragraph, a:hover {
    color: rgb(241, 241, 203);
}

.footer-link {
    height: 100px;
    width: 100px;
    padding: 10px;
}

@media screen and (max-width: 768px) {

}