.user-block, .user-image-removal, .user-image-search, .admin-registration, .admin-login {
    border-radius: 10px;
    border-style: double;
    width: 300;
    height: 30px;
}

.admin-button {
    border-radius: 5px;
    border-style: groove;
    background-color: rgba(255, 12, 12, .456);
}

.admin-header, .admin-pin-label {
    color: rgb(233, 255, 233);
}

.admin-button:hover {
    background-color:rgba(12, 233, 12, .456);
}

.toggle-password {
    background-color: rgb(11, 44, 155);
}