.seller-page-header {
    text-align: center;
    font-size: 40px;
}

.items-sold-header, .items-selling-header {
    font-size: 30px;
}

.post-item-button {
    margin-left: 650px;
    border-radius: 10px;
    height: 30px;
    width: 300px;
}