.post-review-header {
    color: rgb(255, 255, 255);
    margin-top: 40px;
}
  
.review-container {
    background-color: rgb(0, 100, 15);
    padding: 4vw 0 10vw;
    text-align: center;
    width: 100%;
}
 
.form-control-wrapper {
    display: flex;
    justify-content: center;
}
  
.custom-form-control {
    width: 100%; 
    max-width: 800px;
}
.seller-name-input,
.product-name-input,
.seller-review-input {
    height: 30px;
    margin-top: 10px;
    border-color: rgb(0,0,0);
    border-style: double;
}
  
.user-post-review-textarea {
    min-height: 100px;
    border-radius: 5px;
}
  
.post-review-button {
    background-color: rgb(71, 137, 8);
    margin: auto;
}

.post-review-button:hover {
    background-color: rgb(12,13, 200);
}
  
.upload-button {
    border-radius: 5px;
    height: 30px;
    float: right;
    margin-top: 10px;
}

.character-count-span {
    font-size: 1rem;
    color: #5f5f5f;
    float: right;
}  