.home-page-header {
    text-align: center;
    font-size: 40px;
}

.home-page-paragraph {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-weight: 600;
}

.home-location-button {
    height: 50px;
    width: 200px;
    border-radius: 5px;
    margin-left: 785px;
    margin-top: 80px;
}

.home-location-button:hover {
    background-color: rgba(20, 223, 12, 0.6);
}