.signup-page-header {
    text-align: center;
    font-size: 40px;
}

.signup-form-container {
    margin-left: 600px;
}

.fullName-input, .userName-input, .email-input, .password-input {
    height: 30px;
    width: 400px;
    margin-top: 20px;
    border-radius: 10px;
}

.user-signup-button {
    border-radius: 10px;
    height: 50px;
    width: 200px;
    margin-left: 90px;
    margin-top: 10px;
}